.summary {
    color: #808080;
    border-left: 5px solid #E50E51;
    font-size:16px;
}


h3 {color: #31708f; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #ff3b00;
}

.nav > li > a:hover {
    background-color: #ff3b00;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #ff3b00;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #74230b;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #74230b;
    border-color: #ff3b00;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ff3b00;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ff3b00;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #74230b !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff3b00;
    border-color: #ff3b00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #74230b;
    border-color: #ff3b00;
}

.printTitle {
    color: #ff3b00 !important;
}

body.print h1 {color: #ff3b00 !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #4f7233;
}

div.sidebarTitle {
    color: #E50E51;
}

li.sidebarTitle {
    margin-top:20px;
    font-weight:bold;
    font-size:130%;
    color: #ff3a00;
    margin-bottom:10px;
    margin-left: 5px;
}

a.sidebarTitle {
    font-weight:bold;
    font-size:130%;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #E50E51;
}

@media screen and (prefers-color-scheme: dark){
	.highlight {
		/* background: #4a3e3e; */
		background: #000000;
		color: #c1c1c1;
	}

	.highlight .nn { color: #04ff00 } /* Name.Namespace */

	div#toc ul {
		background-color: black;
	}
	
	.nav ul li a {
		color: white;
		background-color: black;
	}
	
	.nav li a:hover {
		color: white;
		background-color: grey;
	}
	
	.nav li a {
		color: white;
		background-color: black;
	}

	body {
		/* background: #4a3e3e; */
		background: #000000;
		color: #c1c1c1;
	}
}