.circles {
	position: relative;
	display: inline-block;
	margin: 20px auto 30px auto;
}
.circles img {margin: unset !important;}

.circle-with-text {
  position: absolute;
  background: linear-gradient(orange, red);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  display: flex;
  height: 12px;
  width: 12px;
  color: #fff;
}

.circle-image {
	position: relative;	
	display: block;
}